body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#logo {
  padding: 50px;
}

.menu{
  display: flex;
  gap: 20px;
  place-content: center;
}

.botaoMenu{
  background: rgb(255,255,255);
  text-align: center;
  text-decoration: none;
  color: #1f1f1f;
  padding: 15px 30px;
  border-radius: 4px;
}

#bicicleta{
  max-width: 100%;
  min-height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 500px 500px;
  place-content: center;
  padding: 60px;
}

.descricao, .beneficios, .img {
  background: lightcoral;
}

h1 {
  font-size: 32px;
}
.descricao {
  background: rgb(255,255,255);
}

.organizaDescricao{
  /* background: lightpink; */
  width: 430px;
  margin: 90px 30px;
  font-size: 20px;
  text-align: right;
  line-height: 25px;
}

#botaoVer {
  background: red;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(255,255,255);
  font-size: 16px;
  position: relative;
  top: 10px;
}

#tituloVantagens {
  font-size: 64px;
  text-align: right;
  margin: 154px 30px;
  color: #c6c6c6;
}

.beneficios {
  background: rgb(255,255,255);
}

#orgranizacaoBeneficios {
  text-align: left;
  width: 350px;
  margin: 60px;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  left: 50px;
}

.h3Beneficios{
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: -10px;
}

.icones {
  /* background: lightcoral; */
  position: absolute;
  left: -45px;
  margin-top: 20px;
}

#iconeEletricidade {
  margin-top: 0px;
}

footer {
  background: rgb(255,255,255);
  padding: 20px;
  font-size: 20px;
}